



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 toppadding">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <center><p>Please make sure to have the latest version of Java Installed</p></center>
            <center>
                <a href="#" class="btn btn-lg btn-outline-primary">LAUNCH JAVA APP</a>
            </center>
        </div>
    </div>
</div>