@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CMS File Manager</title>
    @* <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.js")"></script>
</head>
<body>
    <div>
        @{ Html.RenderPartial("~/Modules/CMSAdmin/Views/Forms/FileManager.cshtml");}
    </div>
</body>
</html>

